@page "/index"
@using System.Data
<style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }
        .vertical_line {
            border-left: 1px solid black;
            height:908px;
            margin-right: 3px;
        }
</style>
 <!-- Header -->
    <div style=" display: flex; flex-direction: row; padding: 16px; background-color: rgb(224, 224, 224);">
        <div style="margin: 5px;">Select database:</div>
        <select name="cars" class="col-1" style="padding:5px;" id="cars">
            @foreach (var item in listOfDB)
            {
                <option value="@item">@item</option>
            }
          </select>

        <button type="submit" class="btn-primary px-3" style="margin-left:32px">Execute</button>
    </div>

    <div class="" style="display: flex; flex-direction: row; ">
        <!-- tree view -->
        <div style="width: 300px;">
            <Treeview Directorios="treeViewList.ToArray()"></Treeview>
        </div>

        <div class="vertical_line"></div>

        <!-- sql query input -->
        <div style="position: relative; height:100%">
            <div style="border: 1px solid black; width: 200px; text-align: center; border-top-right-radius: 10px; border-top-left-radius: 10px; height: 32px; padding: 3px;">
                SQLQuery1.sql
            </div>
            <div>
                <textarea style="width: 1610px; height: 500px; padding: 6px;">SELECT * FROM [Superstore].[dbo].[Products]</textarea>
            </div>
            <table style="width: 1610px; ">
                <th>
                    First
                </th>
                <th>
                    second
                </th>
                <th>
                    third
                </th>
                <tr><td>1</td><td>2</td><td>3</td></tr>
                <tr><td>1</td><td>2</td><td>3</td></tr>
                <tr><td>1</td><td>2</td><td>3</td></tr>
                <tr><td>1</td><td>2</td><td>3</td></tr>
                <tr><td>1</td><td>2</td><td>3</td></tr>
                <tr><td>1</td><td>2</td><td>3</td></tr>
                <tr><td>1</td><td>2</td><td>3</td></tr>
                <tr><td>1</td><td>2</td><td>3</td></tr>
                <tr><td>1</td><td>2</td><td>3</td></tr>
                <tr><td>1</td><td>2</td><td>3</td></tr>
                <tr><td>1</td><td>2</td><td>3</td></tr>
            </table>

            <div style="display: flex; flex-direction: row; padding: 16px; background-color: rgb(224, 224, 224); position: relative; padding: 5px;">
                <b>Query executed succesfully</b>
                <div style="display: flex; flex-direction: row; margin-left: 1100px;">Elapsed: <div>00:00:20</div></div>
                <div style="display: flex; flex-direction: row; margin-left: 48px;">25 <div style="margin-left: 6px;">rows</div></div>
                
            </div>
        </div>
    </div>

    <div>

    </div>

@code {
    public TreeView[] treeViews;

    List<string> listOfDB = new List<string>();
    List<TreeView> treeViewList = new List<TreeView>();
    protected async override Task OnInitializedAsync()
    {

        GetListOfDB();

        foreach (var databaseName in listOfDB)
        {
            var tree = new TreeView(databaseName, GetListOfTablesFromDB(databaseName).ToArray(), new string[]{});
            treeViewList.Add(tree);
        }
    }



    private List<string> GetListOfDB()
    {
        using (SqlConnection con = new SqlConnection())
        {
            con.ConnectionString = "Server=(localdb)\\MSSQLLocalDB;User Id=user;Password=password;Trusted_Connection=true;";
            con.Open();

            using (SqlCommand cmd = new SqlCommand("SELECT name from sys.databases", con))
            {
                using (IDataReader dr = cmd.ExecuteReader())
                {
                    while (dr.Read())
                    {
                        listOfDB.Add(dr[0].ToString());
                    }
                }

            }
        }
        return listOfDB;
    }

    private List<TreeView> GetListOfTablesFromDB(string DbName)
    {
        using (var con = new SqlConnection())
        {
            con.ConnectionString = "Server=(localdb)\\MSSQLLocalDB;User Id=user;Password=password;Trusted_Connection=true;Database=" + DbName + ";";
            con.Open();

            List<TreeView> list = new List<TreeView>();
            DataTable dt = con.GetSchema("Tables");

            foreach (DataRow row in dt.Rows)
            {
                string tablename = (string)row[2];

                list.Add(new TreeView(tablename, new TreeView[] { },  GetListOfColumnsFromDB(DbName, tablename).ToArray()));
            }

            return list;
        }

    }

    private List<string> GetListOfColumnsFromDB(string DbName, string tableName)
    {
        using (var con = new SqlConnection())
        {
            con.ConnectionString = "Server=(localdb)\\MSSQLLocalDB;User Id=user;Password=password;Trusted_Connection=true;Database=" + DbName + ";";
            con.Open();

            var list = new List<string>();

            string[] restrictionsColumns = new string[3];
            restrictionsColumns[2] = tableName;
            DataTable schemaColumns = con.GetSchema("Columns", restrictionsColumns);
            foreach (System.Data.DataRow rowColumn in schemaColumns.Rows)
            {
                list.Add(rowColumn[3].ToString());
            }
            return list;
        }

    }
}
